.base-line {
  stroke: #8d4919;
  stroke-width: 1px;
}

.chessman {
  cursor: pointer;
  background-color: transparent;
}

.chessman > circle {
  fill: #e7c292;
}

.chessman.unselectabled {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chessman text {
  font-size: 12px;
  stroke-width: 1px;
  font-family: cursive;
}

.chessman.black text {
  fill: black;
}

.chessman.red text {
  fill: red;
}

.chessman circle.checked {
  stroke-width: 1px;
}

.chessman.black circle.checked {
  stroke: black;
}

.chessman.red circle.checked {
  stroke: red;
  stroke-width: 1px;
}

.game-info-wrapper {
  padding-left: 50px;
  margin-top: 50px;
}

.time-left {
  padding-left: 10px;
}

.operation-wrapper {
  margin-top: 10px;
}

.operation-wrapper > .btn {
  border:none;
  color: white;
  background-color: #37c3aa;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  outline: none;
}

.operation-wrapper > .btn:hover {
  opacity: 1;
}

.panel-wrapper {
  display: flex;
}