.base-line {
  stroke: #8d4919;
  stroke-width: 1px;
}

.chessman {
  cursor: pointer;
  background-color: transparent;
}

.chessman > circle {
  fill: #e7c292;
}

.chessman.unselectabled {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chessman text {
  font-size: 12px;
  stroke-width: 1px;
  font-family: cursive;
}

.chessman.black text {
  fill: black;
}

.chessman.red text {
  fill: red;
}

.chessman circle.checked {
  stroke-width: 1px;
}

.chessman.black circle.checked {
  stroke: black;
}

.chessman.red circle.checked {
  stroke: red;
  stroke-width: 1px;
}
