<svg version="1.1" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision"
  [attr.width]="panelConf.width" [attr.height]="panelConf.height" [attr.viewBox]="panelConf.viewBox">
  <filter id="dropShadow">
    <feGaussianBlur in="SourceAlpha" stdDeviation="0.6" />
    <feOffset dx="1" dy="1" />
    <feMerge>
      <feMergeNode />
      <feMergeNode in="SourceGraphic" />
    </feMerge>
  </filter>
  <g class="panel-base" *ngFor="let line of baseLines">
    <line class="base-line" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2"></line>
  </g>
  <svg class="chessman unselectabled" (click)="selectChessman(chessman)" [class.red]="chessman.color===1" [class.black]="chessman.color===0"
    *ngFor="let chessman of (chessmen|chessInfo:uiConf)">
    <circle filter="url(#dropShadow)" [class.checked]="chessman.checked" [attr.cx]="chessman.x" [attr.cy]="chessman.y" [attr.r]="10"></circle>
    <text [attr.x]="chessman.x" [attr.y]="chessman.y" dx="-6" dy="4">{{chessman.name}}</text>
  </svg>
</svg>